* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, #005AA7, #005AA7), #FFFFFF;
}

input {
  outline: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__link-img {
  width: 157px;
}
.header__tittle {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  color: #FFFFFF;
}
.header__form {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 10px;
  border-color: #FFFFFF;
}
.header__input {
  flex-grow: 1;
  padding: 15px;
  border-color: #FFFFFF;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
}
.header__input:hover {
  border-color: #77BDE0;
}
.header__btn {
  width: 100px;
  height: 60px;
  border-radius: 5px;
  background: #399AE7;
  border-color: #399AE7;
  transition: background-color 0.2s ease-in;
}
.header__btn:hover {
  background: #7ec5e8;
}

.main {
  height: 910px;
}

.card {
  display: flex;
  justify-content: center;
  padding-top: 75px;
  padding-left: 130px;
  padding-right: 130px;
  gap: 20px;
}
.card__city {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 690px;
  height: 620px;
  background: linear-gradient(322.33deg, #005AA7 11.6%, #FFFDE4 121.52%), #D9D9D9;
  box-shadow: 0px 5px 50px rgba(67, 127, 157, 0.46);
  border-radius: 20px;
}
.card__city-cloud {
  max-width: 230px;
  max-height: 191px;
}
.card__weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__heading {
  margin-left: 40px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 69px;
  color: #FFFFFF;
}
.card__num {
  margin-top: 55px;
  margin-bottom: 55px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 138px;
  color: #FFFFFF;
}
.card__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
}
.card__text-main {
  margin-top: 12px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}
.card__text-up {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #76FF73;
}
.card__text-good {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #76FF73;
}
.card__text-down {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #B5B5B5;
}
.card__right {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 690px;
}
.card__index {
  display: flex;
  flex-direction: column;
  width: 690px;
  height: 300px;
  background: linear-gradient(344.14deg, #005AA7 4.82%, #FFFDE4 139.59%), #D9D9D9;
  box-shadow: 0px 5px 50px 10px rgba(67, 127, 157, 0.46);
  border-radius: 20px;
}
.card__box-air {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__place-img {
  display: flex;
  align-items: center;
}
.card__leaf {
  width: 35px;
  height: 40px;
}
.card__box-text {
  display: flex;
  flex-direction: column;
}
.card__number {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12px;
  margin-bottom: 12px;
}
.card__week {
  width: 690px;
  height: 300px;
  background: linear-gradient(345.48deg, #005AA7 18.55%, #FFFDE4 144.76%), #D9D9D9;
  box-shadow: 0px 5px 50px 10px rgba(67, 127, 157, 0.46);
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */